:host {
  width: 100%;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  border: none;
}

.icon {
  font-size: 3rem;
}

small {
  font-size: 0.8rem;
  color: #c4c4c4;
}
