.wrapper {
  display: flex;
  column-gap: 1rem;
  padding: 1rem 0.5rem;
}

.icon {
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-position: center;
  border: solid 3px;
  border-radius: 50%;
}

.absent {
  border-color: #ea596e;
}

.late {
  border-color: #e9d44d;
}
