<div class="container">
  <div class="card d-flex flex-column">
    <ul class="card-body overflow-hidden mb-0 py-1">
      <li *ngFor="let birthday of displayedBirthdays" class="row mb-2 ml-2 d-flex">
        <div class="col-">
          <span class="icon">
            {{ birthday.icon }}
          </span>
        </div>
        <div class="col d-flex align-items-center">
          <div>
            {{ birthday.name }}<br />
            <small>{{ birthday.date.dayNumber() + ' ' + birthday.date.month() }}</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
